.section {
    padding: 0px;
}

.container {
    /* width: 100%;
    height: inherit; */
    padding: 0px;
    margin: 0px;
    max-width: none;
    width: 100%;
}

#TrackSubmitForm-wrapper {
    margin: auto;
}

#plane {
    margin: auto;
    background-color: rgba(255, 255, 128, .5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.track {
    padding: 10px;
}
